[submodule "zsh"]
	path = zsh
	url = git@github.com:crashmaster/zsh.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-scripts-matchit"]
	path = .vim/bundle/vim-scripts-matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/OutlookVim"]
	path = .vim/bundle/OutlookVim
	url = git://github.com/vim-scripts/OutlookVim.git
	ignore = dirty
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/ccase"]
	path = .vim/bundle/ccase
	url = git://github.com/vim-scripts/ccase.vim.git
	ignore = dirty
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
	ignore = dirty
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
