[user]
	name = aswna
	email = aswna@server.fake
[core]
	editor = vim
	autocrlf = input
	pager = less -FRX
[color]
	ui = true
[color "diff"]
	frag = blue
	meta = white
	new = green
	old = red
	whitespace = bold normal red
[color "status"]
	added = green
	changed = yellow
	untracked = blue
[alias]
	ci = commit
	co = checkout
	st = status
	stat = status
	tree = log --pretty=format:'%C(auto)%h%d [%Cgreen%cr%Creset] %s %Cred{%Cblue%an%Cred}%Creset' --graph
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
